.charity-register-charity-details {

	.govuk-details {
		font: inherit;
		margin: 0;
	}

	.govuk-details__summary {
		display: block;
		margin-bottom: 5px;
		padding-left: 0px;
		color: $govuk-blue-1;
		cursor: pointer;

		&:before {
			display: none;
		}

	}

	.govuk-link {
		text-decoration: underline;
	}

	.onereg__header {
		background-color: $ccew-bg-blue-1;
		color: $white;
		min-height: 200px;

		h2 {
			color: $white;
		}

	}

	.onereg__nav {
		border-right: 1px solid black;

		.govuk-link {
			text-decoration: none;

			&.onereg__link-selected {
				text-decoration: underline;
			}

		}


	}

	.onereg-colour__error {

		color: $govuk-red-1;

	}

	.onereg-table__primary-row {

		td {

			border-bottom: 0px;

		}

	}

}
