<c:forEach items="${ facets }" var="facet">
	<c:choose>

		<c:when test="${ facet.charityFacetType.isRange() }">
			<charity-search:facet-number-range facet="${ facet }"/>
		</c:when>

		<c:when test="${ facet.charityFacetType.isDateRange() }">
			<charity-search:facet-date-range facet="${ facet }"/>
		</c:when>

		<c:when test="${ facet.charityFacetType.isSingleSelectCheckbox() }">
			<charity-search:facet-single-select-chk facet="${ facet }" />
		</c:when>

		<c:when test="${ facet.charityFacetType.isSingleSelectTextbox() }">
			<charity-search:facet-single-select-txt facet="${ facet }" placeholder="${ facet.fieldName }_placeHolder" />
		</c:when>

		<c:otherwise>
			<charity-search:facet-multi-select facet="${ facet }"/>
		</c:otherwise>

	</c:choose>
</c:forEach>