<aui:row>
	<aui:col md="12">
		<c:set var="keywordsId"><portlet:namespace/><%=PortletRequestKeys.KEYWORDS%></c:set>
		<c:set var="keywordsPlaceholder"><liferay-ui:message key="key-words-placeholder" /></c:set>

		<label class="govuk-label"><liferay-ui:message key="keywords-search" /></label>

		<div class="search-box">
			<input type="text" class="govuk-input" placeholder="${ keywordsPlaceholder }" id="${ keywordsId }" name="${ keywordsId }"/>

			<button class="govuk-button" data-module="govuk-button" type="submit">
				<aui:icon cssClass="icon-monospaced" image="search" markupView="lexicon" />
			</button>
		</div>
	</aui:col>
</aui:row>

<c:if test="${ showAdvancedLink }">
	<portlet:renderURL var="advancedSearchRenderURL" >
		<portlet:param name="mvcRenderCommandName" value="<%=MVCCommandKeys.ADVANCED_SEARCH_RENDER %>" />
	</portlet:renderURL>
	<aui:row>
		<aui:col md="12">

			<a href="${ advancedSearchRenderURL }" class="govuk-link advanced-search-link"><liferay-ui:message key="advanced-search"/></a>

		</aui:col>
	</aui:row>
</c:if>


