.charity-search {
	.search-box {
		padding-top: 0px;

		.govuk-input {
			float: left;
			position: relative;
		}

		.govuk-button {
			margin-bottom: 5px;
			padding: 2px 0px 0px 0px;
			position: absolute;
			right: 15px;
		}

		.govuk-button:active {
			top: unset;
		}

		.icon-monospaced {
			padding-top: 2px;
		}

		@media only screen and (max-width: 640px) {
			.govuk-button {
				position: relative;
				right: 0px;
				margin-top: 5px;
			}
		}
	}

	.search-multi-select-facet {
		border-style: solid;
		border-width: 0px;
		border-bottom-width: 2px;
		margin-bottom: 15px;

		.glyphicon {
			padding-right: 8px;
		}

		.navbar-left {
			padding: 0px;
			width: 100%;
				.input-text-wrapper {
					width: 90%;
					margin-bottom: 0px;
				}
		}
	}

	.search-multi-select-items {
		height: 200px;
		overflow-y: auto;

		label {
			text-transform: capitalize;
			padding-left: 7px;
		}

		.input-checkbox-wrapper {
			margin-bottom: 0px;
			clear: both;
		}
	}

	.advanced-search-link {
		float: right;
		margin-right: 5px;
		margin-top: 8px;
	}

	.text-warning .lexicon-icon-asterisk {
		display: none;
	}

	h2 {
		margin: 0px;
	}
}