/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

#wrapper {

	@import 'mixins/pallette';

	@import 'vendor/govuk-frontend-3.6.0.min.css';
	@import 'vendor/govuk-path-overrides.css';

	@import 'layouts/maximised';

	@import 'section/header';
	@import 'section/footer';

	@import 'components/charity-register-details';

}

#wrapper {
	padding-top: 0px;
}

.controls-visible {

	#wrapper {
		margin-top: 55px;
	}

}
